{% extends 'base.html' %}
{% block title %}
Student list
{% endblock %}
{% block page_content %}
      <div class="container"> <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Major</th>
      <th scope="col">Age</th>
      <th scope="col">Year</th>
      <th scope="col">Year of Graduation</th>
    </tr>
{% for student in students %}

  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ student.pk }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.surname }}</td>
      <td>{{ student.major }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.year }}</td>
      <td>{{ student.year_of_graduation }}</td>
    </tr>
{% endfor %}</div>
    <div class="container">
    <button class="button" ><a  href="{% url 'home' %}" style="text-decoration: black">Home</a></button>
</div>
{% endblock %}